streamlit
opencv-python
numpy
datetime
torch
                       
streamlit_webrtc                                                           
mediapipe==0.8.9.1
pytube
super-gradients==3.1.0
imutils
roboflow
